# Trabalho em grupo - Ana Luisa, Ananda e Luis

## - HIPOTESE: Como a economia afeta o setor publico e privado de maneiras diferentes

## - Dataset: [BRICS - World Bank Indicator](https://www.kaggle.com/arslanali4343/real-estate-dataset)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1) Importando os datasets e abrindo para ver o conteúdo:

In [2]:
df_economy = pd.read_csv('data/BRICS Development Indicators/Economy_Data.csv', sep= ';')
df_private_sector = pd.read_csv('data/BRICS Development Indicators/PrivateSector_Data.csv', sep=';')
df_public_sector = pd.read_csv('data/BRICS Development Indicators/PublicSector_Indicators.csv', sep=';')

## 2) Criando DataFrames

Criação de um 'dataframe' onde cada valor de 'SeriesName' se torne uma coluna.  
Vamos tomar a média por ano para cada 'feature'.

### a) Economia

In [3]:
df_economy['Year'] = df_economy['Year'].astype('int64')

In [4]:
def SeriesName_DF(dataframe):
    df_mult = dataframe[["SeriesName", "Year", "Value"]].groupby(["Year", "SeriesName"]).mean()
    SeriesName_list = df_mult.index.get_level_values(1).unique().to_list()
    
    df_seriesname = pd.DataFrame()
    sn_column_list = []
    
    for seriesname in SeriesName_list:
        sn_column = df_mult[df_mult.index.get_level_values(1)==seriesname].droplevel(1).rename(columns={"Value" : seriesname})
        sn_column_list.append(sn_column)
    df_seriesname = pd.concat(sn_column_list, axis=1)
    
    targets = dataframe[["SeriesName", "Year", "Value"]].groupby(["Year"]).mean()
    
    return pd.concat([df_seriesname, targets], axis=1)

In [5]:
df_economy_SN = SeriesName_DF(df_economy)
df_economy_SN.head()

,Adjusted net national income (annual % growth),Adjusted net national income (constant 2010 US$),Adjusted net national income (current US$),Adjusted net national income per capita (annual % growth),Adjusted net national income per capita (constant 2010 US$),Adjusted net national income per capita (current US$),"Adjusted net savings, excluding particulate emission damage (% of GNI)","Adjusted net savings, excluding particulate emission damage (current US$)","Adjusted net savings, including particulate emission damage (% of GNI)","Adjusted net savings, including particulate emission damage (current US$)",...,Total reserves in months of imports,Total reserves minus gold (current US$),Trade (% of GDP),Trade in services (% of GDP),"Transport services (% of service exports, BoP)","Transport services (% of service imports, BoP)","Travel services (% of service exports, BoP)","Travel services (% of service imports, BoP)","Use of IMF credit (DOD, current US$)",Value
Year,,,,,,,,,,,,,,,,,,,,,
1970,NaN,2.917154e+11,6.029434e+10,NaN,2232.655378,202.095920,NaN,NaN,NaN,NaN,...,2.358050,7.501700e+08,18.231993,7.631499,20.000000,44.349315,56.428571,23.287671,0.000000e+00,1.753322e+11
1971,6.471394,2.413961e+11,5.380672e+10,3.983653,2972.407176,356.494462,15.470408,3.044258e+09,NaN,NaN,...,1.551095,9.681897e+08,18.442241,8.119831,20.673610,44.103132,59.044769,23.600494,0.000000e+00,1.781317e+11
1972,6.011575,2.616514e+11,6.012322e+10,3.431272,3137.592240,381.391654,16.193499,3.344763e+09,NaN,NaN,...,3.764724,1.885998e+09,19.099327,7.718721,22.397982,38.798445,56.474733,26.340076,0.000000e+00,1.793717e+11
1973,10.101633,2.888742e+11,7.523094e+10,7.421891,3448.301025,498.975816,21.277543,6.036556e+09,NaN,NaN,...,3.962601,2.552525e+09,20.357388,7.397890,24.484802,41.193563,57.884607,24.295091,2.493227e+07,1.901448e+11
1974,2.146270,2.974932e+11,8.604191e+10,-0.324611,3532.170799,606.901334,22.685263,8.066478e+09,NaN,NaN,...,3.864540,2.206845e+09,24.488069,7.469152,24.594337,47.875564,59.201869,25.252027,2.028382e+08,1.938223e+11

### b) Setor privado

In [6]:
df_private_sector['Year'] = df_private_sector['Year'].astype('int64')

In [7]:
df_private_SN = SeriesName_DF(df_private_sector)
df_private_SN.head()

,Agricultural raw materials exports (% of merchandise exports),Agricultural raw materials imports (% of merchandise imports),Average number of visits or required meetings with tax officials (for affected firms),Average time to clear exports through customs (days),"Binding coverage, all products (%)","Binding coverage, manufactured products (%)","Binding coverage, primary products (%)","Bound rate, simple mean, all products (%)","Bound rate, simple mean, manufactured products (%)","Bound rate, simple mean, primary products (%)",...,Time to obtain an electrical connection (days),Time to prepare and pay taxes (hours),Time to resolve insolvency (years),Total tax and contribution rate (% of profit),Transport services (% of commercial service exports),Transport services (% of commercial service imports),Travel services (% of commercial service exports),Travel services (% of commercial service imports),Value lost due to electrical outages (% of sales for affected firms),Value
Year,,,,,,,,,,,,,,,,,,,,,
1970,8.725796,5.529160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.487805,45.279720,57.804878,23.776224,NaN,3.456341e+08
1971,7.953770,5.401722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.007996,44.965126,59.999790,24.061765,NaN,3.851163e+08
1972,7.574604,5.318545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.635121,39.710759,57.072661,26.959441,NaN,4.602504e+08
1973,6.800030,3.482063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.701632,42.182462,58.397215,24.878323,NaN,6.650080e+08
1974,6.642671,2.772902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.769729,48.590172,59.624060,25.628948,NaN,9.227325e+08

### C) Setor público

In [8]:
df_public_sector['Year'] = df_public_sector['Year'].astype('int64')

In [9]:
df_public_SN = SeriesName_DF(df_public_sector)
df_public_SN.head()

,Adequacy of social insurance programs (% of total welfare of beneficiary households),Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Adequacy of social safety net programs (% of total welfare of beneficiary households),Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),"Air transport, freight (million ton-km)","Air transport, passengers carried","Air transport, registered carrier departures worldwide","Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)","Annualized average growth rate in per capita real survey mean consumption or income, total population (%)",Armed forces personnel (% of total labor force),...,"Unemployment, youth male (% of male labor force ages 15-24) (national estimate)","Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)","Unemployment, youth total (% of total labor force ages 15-24) (national estimate)","Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Value
Year,,,,,,,,,,,,,,,,,,,,,
1970,NaN,NaN,NaN,NaN,105.733336,2.510133e+06,91666.666667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.144226e+08
1971,NaN,NaN,NaN,NaN,117.500000,2.708167e+06,86666.666667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.331153e+08
1972,NaN,NaN,NaN,NaN,153.733337,3.275100e+06,100300.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.603605e+08
1973,NaN,NaN,NaN,NaN,201.966670,3.849267e+06,105100.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.083082e+08
1974,NaN,NaN,NaN,NaN,181.150002,3.341600e+06,87675.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.148702e+09

## 3) Seleção de Características

In [10]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

### a) Economia

Eliminando todos os NaN

In [11]:
df_economy_SN.isna().sum().sort_values(ascending=False)

Net ODA provided, total (constant 2015 US$)                    50
Data from database: World Development Indicators               50
Net official flows from UN agencies, UNECE (current US$)       50
Net official flows from UN agencies, UNEP (current US$)        50
Net official flows from UN agencies, UNPBF (current US$)       50
                                                               ..
Gross fixed capital formation, private sector (current LCU)     0
Gross fixed capital formation, private sector (% of GDP)        0
Gross fixed capital formation (current US$)                     0
Gross fixed capital formation (current LCU)                     0
Value                                                           0
Length: 348, dtype: int64

In [12]:
df_economy_SN.dropna(axis=1, inplace=True)

In [13]:
X_econ = df_economy_SN.drop('Value', axis=1)
y_econ = df_economy_SN['Value']

In [14]:
len(X_econ.columns)

204

In [15]:
selector = SelectKBest(f_regression, k = 100)
selector.fit(X_econ, y_econ)

SelectKBest(k=100, score_func=<function f_regression at 0x7f2d8311d550>)

In [16]:
X_econ.columns[selector.get_support()]

Index(['Agriculture, forestry, and fishing, value added (constant 2010 US$)',
       'Agriculture, forestry, and fishing, value added (constant LCU)',
       'Agriculture, forestry, and fishing, value added (current LCU)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Changes in inventories (current LCU)',
       'Charges for the use of intellectual property, payments (BoP, current US$)',
       'Charges for the use of intellectual property, receipts (BoP, current US$)',
       'Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)',
       'Debt service on external debt, total (TDS, current US$)',
       'Exports as a capacity to import (constant LCU)',
       'Exports of goods and services (BoP, current US$)',
       'Exports of goods and services (constant 2010 US$)',
       'Exports of goods and services (constant LCU)',
       'Exports of goods and services (current LCU)',
       'Exports of goods and services (current US$)',
       'Exports of goods, services and primary income (BoP, current US$)',
       'External debt stocks, long-term (DOD, current US$)',
       'External debt stocks, private nonguaranteed (PNG) (DOD, current US$)',
       'External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)',
       'External debt stocks, short-term (DOD, current US$)',
       'External debt stocks, total (DOD, current US$)',
       'Final consumption expenditure (constant 2010 US$)',
       'Final consumption expenditure (constant LCU)',
       'Final consumption expenditure (current LCU)',
       'Final consumption expenditure (current US$)',
       'Foreign direct investment, net outflows (BoP, current US$)',
       'GDP (constant 2010 US$)', 'GDP (constant LCU)', 'GDP (current LCU)',
       'GDP (current US$)', 'GDP per capita (constant 2010 US$)',
       'GDP per capita (current LCU)', 'GDP per capita (current US$)',
       'GNI (constant 2010 US$)', 'GNI (constant LCU)', 'GNI (current LCU)',
       'GNI (current US$)', 'GNI per capita (constant 2010 US$)',
       'GNI per capita (current LCU)',
       'GNI per capita, Atlas method (current US$)',
       'GNI, Atlas method (current US$)',
       'General government final consumption expenditure (current LCU)',
       'General government final consumption expenditure (current US$)',
       'Goods exports (BoP, current US$)', 'Goods imports (BoP, current US$)',
       'Gross capital formation (constant 2010 US$)',
       'Gross capital formation (constant LCU)',
       'Gross capital formation (current LCU)',
       'Gross domestic income (constant LCU)',
       'Gross domestic savings (current LCU)',
       'Gross fixed capital formation (constant LCU)',
       'Gross fixed capital formation (current LCU)',
       'Gross national expenditure (constant 2010 US$)',
       'Gross national expenditure (constant LCU)',
       'Gross national expenditure (current LCU)',
       'Gross national expenditure (current US$)',
       'Gross national expenditure deflator (base year varies by country)',
       'Gross savings (current LCU)',
       'Gross value added at basic prices (GVA) (constant 2010 US$)',
       'Gross value added at basic prices (GVA) (constant LCU)',
       'Gross value added at basic prices (GVA) (current LCU)',
       'Gross value added at basic prices (GVA) (current US$)',
       'Households and NPISHs Final consumption expenditure (constant 2010 US$)',
       'Households and NPISHs Final consumption expenditure (constant LCU)',
       'Households and NPISHs Final consumption expenditure (current LCU)',
       'Households and NPISHs Final consumption expenditure (current US$)',
       'Households and NPISHs Final consumption expenditure per capita (constant 2010 US$)',
       'Imports of goods and services (BoP, current US$)',
       'Imports of goods and services (constant 2010 US$)',
       'Imports of goods and services (constant LCU)',
       'Imports of goods and services (current LCU)',
       'Imports of goods and services (current US$)',
       'Imports of goods, services and primary income (BoP, current US$)',
       'Industry (including construction), value added (constant 2010 US$)',
       'Industry (including construction), value added (constant LCU)',
       'Industry (including construction), value added (current LCU)',
       'Industry (including construction), value added (current US$)',
       'Manufacturing, value added (constant LCU)',
       'Manufacturing, value added (current LCU)',
       'Manufacturing, value added (current US$)',
       'Net primary income (BoP, current US$)',
       'Net primary income (Net income from abroad) (current LCU)',
       'Net secondary income (Net current transfers from abroad) (current LCU)',
       'Net trade in goods (BoP, current US$)',
       'Personal remittances, paid (current US$)',
       'Personal remittances, received (current US$)',
       'Primary income payments (BoP, current US$)',
       'Primary income receipts (BoP, current US$)',
       'Secondary income receipts (BoP, current US$)',
       'Secondary income, other sectors, payments (BoP, current US$)',
       'Service exports (BoP, current US$)',
       'Service imports (BoP, current US$)',
       'Services, value added (constant 2010 US$)',
       'Services, value added (constant LCU)',
       'Services, value added (current LCU)',
       'Taxes less subsidies on products (constant LCU)',
       'Taxes less subsidies on products (current LCU)',
       'Taxes less subsidies on products (current US$)',
       'Total reserves (includes gold, current US$)',
       'Total reserves minus gold (current US$)'],
      dtype='object')

### a) Setor privado

Eliminando todos os NaN

In [17]:
df_private_SN.isna().sum().sort_values(ascending=False)

Data from database: World Development Indicators                       50
Last Updated: 10/15/2020                                               50
Investment in ICT with private participation (current US$)             49
Ease of doing business index (1=most business-friendly regulations)    49
Firms that spend on R&D (% of firms)                                   47
                                                                       ..
Merchandise exports (current US$)                                       0
Agricultural raw materials imports (% of merchandise imports)           0
Merchandise imports (current US$)                                       0
Merchandise trade (% of GDP)                                            0
Value                                                                   0
Length: 171, dtype: int64

In [18]:
df_private_SN.dropna(axis=1, inplace=True)

In [19]:
X_priv = df_private_SN.drop('Value', axis=1)
y_priv = df_private_SN['Value']

In [20]:
len(X_priv.columns)

23

In [21]:
selector = SelectKBest(f_regression, k = 10)
selector.fit(X_priv, y_priv)

SelectKBest(score_func=<function f_regression at 0x7f2d8311d550>)

In [22]:
X_priv.columns[selector.get_support()]

Index(['Agricultural raw materials imports (% of merchandise imports)',
       'Commercial service exports (current US$)',
       'Commercial service imports (current US$)',
       'Computer, communications and other services (% of commercial service exports)',
       'Computer, communications and other services (% of commercial service imports)',
       'Fuel exports (% of merchandise exports)',
       'Merchandise exports (current US$)',
       'Merchandise imports (current US$)', 'Merchandise trade (% of GDP)',
       'Transport services (% of commercial service imports)'],
      dtype='object')

### a) Seto público

Eliminando todos os NaN

In [23]:
df_public_SN.isna().sum().sort_values(ascending=False)

Multidimensional poverty intensity (average share of deprivations experienced by the poor)    50
Presence of peace keepers (number of troops, police, and military observers in mandate)       50
Multidimensional poverty headcount ratio (% of total population)                              50
Multidimensional poverty headcount ratio, children (% of population ages 0-17)                50
Multidimensional poverty headcount ratio, female (% of female population)                     50
                                                                                              ..
Arms imports (SIPRI trend indicator values)                                                    0
Military expenditure (% of GDP)                                                                0
Military expenditure (current LCU)                                                             0
Refugee population by country or territory of asylum                                           0
Value                                                                                          0
Length: 328, dtype: int64

In [24]:
df_public_SN.dropna(axis=1, inplace=True)

In [25]:
X_publ = df_public_SN.drop('Value', axis=1)
y_publ = df_public_SN['Value']

In [26]:
len(X_publ.columns)

7

In [27]:
selector = SelectKBest(f_regression, k = 3)
selector.fit(X_publ, y_publ)

SelectKBest(k=3, score_func=<function f_regression at 0x7f2d8311d550>)

In [28]:
X_publ.columns[selector.get_support()]

Index(['Arms exports (SIPRI trend indicator values)',
       'Military expenditure (current LCU)',
       'Military expenditure (current USD)'],
      dtype='object')